body {
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
    color: #685e5e;
}

.container {
    margin: 20px auto;
    width: 1024px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #685e5e;
}

.columns {
    display: flex;
}

.left-column {
    width: 35%;
    background-color: #f7f4d0;
}
.right-column {
    width: 65%;
    padding: 40px;
}
header {
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

header img {
    margin-bottom: 10px;
    border-radius: 50%;
}

header h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

header h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

main  {
    padding:0px 40px;
    font-family: 'Cabin';
  }

main h2 {
    width: 160px;
    margin: 20px auto 20px; 
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #685e5e;
}

main li {
    margin-bottom: 10px;
}

.contacts li img {
    margin-right: 15px;
}
  
.contacts li p {
    display: inline;
}

.contacts a {
    text-decoration: none;
    color: #685e5e;
}

.skills li img {
    margin-right: 15px
}

.skills li p {
    display: inline;
}

.right-column .aboutme, .education{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.aboutme h2 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 3.5px solid #f7f4d0;
}

.aboutme p {
    margin-bottom: 10px;
} 
.education {
    margin-top: 50px;
}

.education h2{
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 3.5px solid #f7f4d0;
}

